<div class="container">
  <div class="row" style="padding-top: 25%">
    <div class="col hide-on-small-only m3"></div>
    <div class="col m6">
      <div class="card">
        <div id="login-register">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
    <div class="col hide-on-small-only m3"></div>
  </div>
</div>
