<div class="card">
  <div class="card-body">
    <ul class="collection with-header">
      <li class="collection-header">Liste des Mods</li>
      <li class="collection-item">Il n'y a pour l'instant aucun mods sur le serveur</li>
    </ul>
  </div>
</div>
