<div class="card-body">
  <div class="form-header peach-gradient">
    <h3>Inscription</h3>
  </div>
  <form #registerForm="ngForm" (ngSubmit)="registerForm.valid && onSubmit(registerForm)">
    <input type="text" #pseudo="ngModel" [(ngModel)]="userService.selectedUser.pseudo" name="pseudo"
           placeholder="Pseudo"
           required [ngClass]="{'invalid-textbox' :registerForm.submitted && !pseudo.valid }">
    <div *ngIf="registerForm.submitted && !pseudo.valid">
      <label class="validation-message">Ce Champs est requis.</label>
    </div>
    <input type="text" #email="ngModel" [(ngModel)]="userService.selectedUser.email" name="email" placeholder="E-Mail"
           required [pattern]="emailRegex" [ngClass]="{'invalid-textbox' :registerForm.submitted && !email.valid }">
    <div *ngIf="registerForm.submitted && email.errors">
      <label *ngIf="email.errors.required" class="validation-message">Ce Champs est requis.</label>
      <label *ngIf="email.errors.pattern" class="validation-message">Adresse e-mail invalide.</label>
    </div>
    <input type="password" #password="ngModel" [(ngModel)]="userService.selectedUser.password" name="password"
           placeholder="Mot de Passe"
           minlength="4" required [ngClass]="{'invalid-textbox' :registerForm.submitted && !password.valid }">
    <div *ngIf="registerForm.submitted && password.errors">
      <label *ngIf="password.errors.required" class="validation-message">Ce Champs est requis</label>
      <label *ngIf="password.errors.minlength" class="validation-message">Au moins 6 charactère requis.</label>
    </div>
    <input type="text" #starboundPassword="ngModel" [(ngModel)]="userService.selectedUser.starboundPassword" name="starboundPassword"
           placeholder="Mot de Passe Starbound (Attention ce champ est visible)"
           minlength="4" required [ngClass]="{'invalid-textbox' :registerForm.submitted && !starboundPassword.valid }">
    <div *ngIf="registerForm.submitted && starboundPassword.errors">
      <label *ngIf="starboundPassword.errors.required" class="validation-message">Ce Champs est requis</label>
      <label *ngIf="starboundPassword.errors.minlength" class="validation-message">Au moins 6 charactère requis.</label>
    </div>
    <input class="btn purple-gradient" type="submit" value="S'inscrire">
    <span style="margin-left: 20px"></span>
    <u><a routerLink="/auth/login">Retour</a></u>
  </form>
</div>
