<div class="card">
  <div class="card-content">
    <span class="card-title">
      Status du serveur:
    </span>
    <ul class="collection">
      <li class="collection-item">
        <span id="is-online" class="new badge yellow" data-badge-caption="">Patienter...</span>
        Status du serveur:
      </li>
      <li class="collection-item">
        <span class="badge" id="nb-player">Patienter...</span>
        Nombre de joueurs sur le serveur:
      </li>
    </ul>
  </div>
</div>
