<router-outlet></router-outlet>
<div id="cookieConsent">
  <div id="closeCookieConsent">x</div>
  "En poursuivant votre navigation, vous acceptez le dépôt de cookies tiers destinés à vous proposer des vidéos,
  des boutons de partage, des remontées de contenus de plateformes sociales"
  <a routerLink="/politique" target="_blank">Plus d'info</a>. <a class="cookieConsentOK">C'est cool !</a>
</div>
