<div *ngIf="userDetails" class="card">
  <form #updateProfile="ngForm" (ngSubmit)="updateProfile.valid && onSubmit(updateProfile)">
    <div class="card-content">
      <div class="row">
        <label class="active col s12" for="pseudo">Pseudo</label>
        <input id="pseudo"
               type="text"
               value="{{ userDetails.pseudo }}"
               disabled
               class="col s12">
        <label class="active col 12" for="email">Changer E-Mail</label>
        <input id="email"
               #email="ngModel"
               [(ngModel)]="userService.updateUser.email"
               name="email"
               type="email"
               placeholder="E-Mail"
               [pattern]="emailRegex"
               [ngClass]="{'invalid-textbox': updateProfile.submitted && !email.valid}"
               value="{{ userDetails.email }}"
               class="col s12">
        <div class="col s12" *ngIf="updateProfile.submitted && email.errors">
          <label *ngIf="email.errors.pattern" class="validation-message">Adresse e-mail invalide.</label>
        </div>
        <label class="active col 12" for="password">Changer Password</label>
        <input id="password"
               type="password"
               name="password"
               #password="ngModel"
               [(ngModel)]="userService.updateUser.password"
               placeholder="Mot de Passe" minlength="6"
               [ngClass]="{'invalid-textbox': updateProfile.submitted && !password.valid}"
               value="{{ userDetails.password }}"
               class="col s12">
        <div class="col s12" *ngIf="updateProfile.submitted && password.errors">
          <label *ngIf="password.errors.minlength" class="validation-message">Au moins 6 charactère requis.</label>
        </div>
        <label class="active col 12" for="starboundPassword">Changer Mot de Passe Starbound</label>
        <input id="starboundPassword"
               type="password"
               name="starboundPassword"
               #starboundPassword="ngModel"
               [(ngModel)]="userService.updateUser.starboundPassword"
               placeholder="Mot de Passe Starbound (Attention ce champ est visible)" minlength="6"
               value="{{ userDetails.starboundPassword }}"
               [ngClass]="{'invalid-textbox': updateProfile.submitted && !starboundPassword.valid }" class="col s10">
        <div class="col s2">
          <a id="show-password" class="btn-flat waves-effect waves-light waves-purple">
            <i class="material-icons">remove_red_eye</i>
          </a>
        </div>
        <div class="col s12" *ngIf="updateProfile.submitted && starboundPassword.errors">
          <label *ngIf="starboundPassword.errors.minlength" class="validation-message">Au moins 6 charactère
            requis.</label>
        </div>
      </div>
    </div>
    <div class="card-action">
      <input class="btn purple-gradient" type="submit" value="Modifier">
      <input class="btn peach-gradient right" type="button" (click)="onLogout()" value="Logout"/>
    </div>
  </form>
</div>
