<div class="card">
  <div class="card-body">
    <h3>Règles</h3>
    <p>
      Bonjour, le grief et les cheats sont interdit sous peine de ban, merci !
      <i class="material-icons red-text">favorite</i>
    </p>
  </div>
</div>
