<div class="card-body">
  <div class="form-header aqua-gradient">
    <h3>Connexion</h3>
  </div>
  <form #signInForm="ngForm" (ngSubmit)="signInForm.valid && onSubmit(signInForm)">
    <input type="text" name="email" #email="ngModel" [(ngModel)]="model.email" placeholder="E-Mail"
           [pattern]="emailRegex" required
           [ngClass]="{'invalid-textbox' :signInForm.submitted && !email.valid }">
    <div *ngIf="signInForm.submitted && email.errors?.pattern">
      <label class="validation-message">Adresse Invalide</label>
    </div>
    <input type="password" name="password" #password="ngModel" [(ngModel)]="model.password" placeholder="Mot de Passe"
           required minlength="4"
           [ngClass]="{'invalid-textbox' :signInForm.submitted && !password.valid }">
    <div *ngIf="signInForm.submitted && password.errors?.minlength">
      <label class="validation-message">Les mots de passe font 4 charactère mini.</label>
    </div>
    <input class="btn blue-gradient" type="submit" value="Connexion">
    <span style="margin-left: 20px"></span>
    <u><a routerLink="/auth/register">Inscription</a></u>
  </form>
</div>
