<div class="container">
  <div class="row" style="padding-top: 25%">
    <div class="col s12 m4">
      <div class="card">
        <div class="collection with-header">
          <div class="collection-header">Profile</div>
          <a routerLink="/user/profile" class="collection-item">Voir profile</a>
          <div class="collection-header">Serveur</div>
          <a routerLink="/user/regles" class="collection-item">Règles</a>
          <a routerLink="/user/mods" class="collection-item">Mods</a>
          <a routerLink="/user/status" class="collection-item disabled">Status</a>
        </div>
      </div>
    </div>
    <div class="col s12 m8">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
