<div class="container">
  <div class="row" style="padding-top: 15%">
    <div class="col s2"></div>
    <div class="col s8">
      <div class="card hoverable">
        <div class="card-content">
          <h2 class="">Starbound <a class="indigo-text font-bold">WALKA</a></h2>
          <h5 class="">a Starbound server</h5>
        </div>
        <div class="card-action">
          <a class="btn blue-gradient" routerLink="/auth/login">Connexion</a>
          <span style="margin: 10px;"></span>
          <a class="btn purple-gradient right" routerLink="/auth/register">Inscription</a>
        </div>
      </div>
    </div>
    <div class="col s2"></div>
  </div>
</div>
