<div class="container">
  <div class="row">
    <div class="card">
      <div class="card-body">
        <div class="s-block-item-inner clearfix" style="position: relative;">
          <div class=" columns sixteen">
            <div class="s-component s-text s-animation-page-slide_in">
              <div class="s-component-content s-font-body"><p style="text-align: left;">Les cookies sont de petites
                quantités d’informations stockées dans des fichiers au sein même du navigateur de votre ordinateur. Les
                cookies sont accessibles et enregistrés par les sites internet que vous consultez, et par les sociétés qui
                affichent leurs annonces publicitaires sur des sites internet, pour qu’ils puissent reconnaître le
                navigateur. Les sites Internet peuvent uniquement accéder aux cookies qu’ils ont stockés sur votre
                ordinateur.</p>
                <p style="text-align: left;">&nbsp;</p>
                <p style="text-align: left;">En utilisant le Site Internet , vous consentez à l’utilisation des cookies
                  déposés par notre Site.</p>
                <p style="text-align: left;">Le site Internet utilisent des cookies aux fins suivantes :</p>
                <ul>
                  <li style="text-align: left;"><strong>Usage du site :</strong>&nbsp;pour nous aider à reconnaître votre
                    navigateur comme celui d’un visiteur précédent et pour enregistrer les préférences que vous avez
                    déterminées lors de votre précédente visite sur le Site. Par exemple, nous pouvons enregistrer vos
                    informations de connexion de sorte que vous n’ayez pas à vous connecter à chaque fois que vous visitez
                    le Site ;
                  </li>
                  <li style="text-align: left;"><strong>Ciblage :</strong>&nbsp;pour nous permettre de cibler (emailing,
                    enrichissement de base) à postériori ou en temps réel l’internaute qui navigue sur notre Site ;
                  </li>
                  <li style="text-align: left;"><strong>Mesure d’audience :&nbsp;</strong>pour suivre les données
                    statistiques de fréquentation du Site (soit l’utilisation faite du Site par les utilisateurs et pour
                    améliorer les services du Site) et pour nous aider à mesurer et étudier l’efficacité de notre contenu
                    interactif en ligne, de ses caractéristiques, publicités et autres communications.
                  </li>
                </ul>
                <p style="text-align: left;">&nbsp;</p>
                <p style="text-align: left;"><u><strong>Vos Choix Concernant les Cookies et Balises Web</strong></u></p>
                <p style="text-align: left;">&nbsp;</p>
                <p style="text-align: left;">Vous avez le choix de configurer votre navigateur pour accepter tous les
                  cookies, rejeter tous les cookies, vous informer quand un cookie est émis, sa durée de validité et son
                  contenu, ainsi que vous permettre de refuser son enregistrement dans votre terminal, et supprimer vos
                  cookies périodiquement.</p>
                <p style="text-align: left;">&nbsp;</p>
                <p style="text-align: left;">Vous pouvez paramétrer votre navigateur Internet pour désactiver les cookies.
                  Notez toutefois que si vous désactivez les cookies, votre nom d’utilisateur ainsi que votre mot de passe
                  ne seront plus sauvegardés sur aucun site web. Pour plus d’informations relatives aux méthodes vous
                  permettant de supprimer et de contrôler les cookies stockés sur votre ordinateur, consultez le site
                  suivant : <u>http://www.allaboutcookies.org/fr/</u></p>
                <p style="text-align: left;">&nbsp;</p>
                <p style="text-align: left;"><u><strong>Comment configurer votre navigateur</strong></u></p>
                <ul>
                  <li style="text-align: left;"><strong>Firefox :</strong>
                    <ul>
                      <li>1. Ouvrez Firefox</li>
                      <li>2. Appuyez sur la touche « Alt »</li>
                      <li>3. Dans le menu en haut de la page cliquez sur « Outils » puis « Options »</li>
                      <li>4. Sélectionnez l’onglet « Vie privée »</li>
                      <li>5. Dans le menu déroulant à droite de « Règles de conservation », cliquez sur « utiliser les
                        paramètres personnalisés pour l’historique »
                      </li>
                      <li>6. Un peu plus bas, décochez « Accepter les cookies »</li>
                      <li>7. Sauvegardez vos préférences en cliquant sur « OK »</li>
                    </ul>
                  </li>
                  <li style="text-align: left;"><strong>Internet Explorer :</strong>
                    <ul>
                      <li>1. Ouvrez Internet Explorer</li>
                      <li>2. Dans le menu « Outils », sélectionnez « Options Internet »</li>
                      <li>3. Cliquez sur l’onglet « Confidentialité »</li>
                      <li>4. Cliquez sur « Avancé » et décochez « Accepter »</li>
                      <li>5. Sauvegardez vos préférences en cliquant sur « OK »</li>
                    </ul>
                  </li>
                  <li style="text-align: left;"><strong>Google Chrome :</strong>
                    <ul>
                      <li>1. Ouvrez Google Chrome</li>
                      <li>2. Cliquez sur l’icône d’outils dans la barre de menu</li>
                      <li>3. Sélectionnez « Options »</li>
                      <li>4. Cliquez sur l’onglet « Options avancées »</li>
                      <li>5. Dans le menu déroulant « Paramètres des cookies », sélectionnez « Bloquer tous les cookies
                        »
                      </li>
                    </ul>
                  </li>
                  <li style="text-align: left;"><strong>Safari :</strong>
                    <ul>
                      <li>1. Ouvrez Safari</li>
                      <li>2. Dans la barre de menu en haut, cliquez sur « Safari », puis « Préférences »</li>
                      <li>3. Sélectionnez l’icône « Sécurité »</li>
                      <li>4. À côté de « Accepter les cookies », cochez « Jamais »</li>
                      <li>5. Si vous souhaitez voir les cookies qui sont déjà sauvegardés sur votre ordinateur, cliquez
                        sur « Afficher les cookies »
                      </li>
                    </ul>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
